* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
img {
  max-width: 100%;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
}
.box {
  position: absolute;
  top: 60%;
  left: 50%;
  max-width: 700px;
  transform: translate(-50%, -50%);
}
