* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(1.JPG);
  background-attachment: fixed;
  background-position: center;
}
.slide2 {
  background: url(2.JPG);
  background-attachment: fixed;
  background-position: center;
  left: 50%;
}
