* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ff4e2b;
  display: flex;
}
.container .imgBx {
  position: relative;
  width: 800px;
  height: 100%;
  background: url(bg.jpg);
  background-size: cover;
}
.container .countdownBx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 800px);
  flex-direction: column;
}
.container .countdownBx h2 {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  line-height: 4em;
}
.container .countdownBx h2 span {
  font-size: 6em;
  font-weight: 700;
}
.container .countdownBx h2 span i {
  font-style: initial;
  color: #ff0;
}
.container .countdownBx .countdown {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .countdownBx .countdown div {
  position: relative;
  width: 100px;
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  font-weight: 500;
  margin: 0 15px;
}
.container .countdownBx .countdown div::before {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  height: 35px;
  color: #fff;
  font-size: 0.35em;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.container .countdownBx .countdown div#day::before {
  content: "Days";
}
.container .countdownBx .countdown div#hour::before {
  content: "Hours";
}
.container .countdownBx .countdown div#minute::before {
  content: "Minutes";
}
.container .countdownBx .countdown div#second::before {
  content: "Seconds";
}
.container .countdownBx .countdown div#second,
.container .countdownBx .countdown div#second::before {
  color: #ff0;
}
@media (max-width: 1024px) {
  .container .imgBx {
    display: none;
  }
  .container .countdownBx {
    width: 100%;
  }
}
/* @media (max-width: 991px) {
} */
@media (max-width: 600px) {
  .container .countdownBx h2 {
    font-size: 1.1em;
  }
  .container .countdownBx .countdown {
    height: 100px;
  }
  .container .countdownBx .countdown div {
    width: 80px;
    font-size: 2em;
    margin: 0;
    margin-top: -25px;
  }
}
