<div class="row">
  <div class="col-md-3 col-md-offset-3">
  <video style="height: 400px; width:600px;" id="videoPlayer" controls muted="muted" autoplay>
  <source src="https://ia800201.us.archive.org/22/items/ksnn_compilation_master_the_internet/ksnn_compilation_master_the_internet_512kb.mp4" type="video/mp4">
  </video>
  </div>
  </div>