@import url(https://fonts.googleapis.com/css2?family=Poppins);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  padding: 10px 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d7182;
}
header .logo {
  max-width: 120px;
}
header ul {
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
.banner {
  /* position: absolute;
  bottom: 50px;
  left: calc(50% - 250px / 2);
  width: 250px;
  height: 150px;
  background: url(sunhouse-bg-new.jpg);
  background-size: cover;
  cursor: pointer; */
  background: rgb(5, 65, 74);
  background: linear-gradient(
    90deg,
    rgba(5, 65, 74, 1) 0%,
    rgba(43, 49, 54, 1) 50%,
    rgba(57, 41, 45, 1) 51%,
    rgba(155, 12, 0, 1) 100%
  );
}
.banner img {
  width: 100%;
}
.content {
  width: 100%;
  padding: 2rem 0;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(5, 65, 74);
  background: linear-gradient(
    90deg,
    rgba(5, 65, 74, 1) 0%,
    rgba(43, 49, 54, 1) 50%,
    rgba(57, 41, 45, 1) 51%,
    rgba(155, 12, 0, 1) 100%
  );
}
.content .textBox {
  max-width: 600px;
  color: #fff;
}
.content .textBox h2 {
  font-size: 2em;
  line-height: 2em;
  font-weight: 900;
  text-transform: uppercase;
}
.content .textBox p {
  font-size: 1em;
  line-height: 1em;
  font-weight: 300;
}

.content .imgBox {
  margin-top: 1rem;
}
.content .box2 {
  margin-top: 2rem;
}

.product {
  padding: 2rem 0;
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222;
}
.product-intro {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* .product-video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.product-video iframe {
  width: 500px;
  height: 300px;
}
.play {
  margin-top: 10px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1rem;
}

.play img {
  margin-right: 10px;
  max-width: 50px;
}

.product-info {
  color: #fff;
}
.product-info h2 {
  font-size: 1.8rem;
  line-height: 2em;
  font-weight: 800;
  text-transform: uppercase;
}
.product-info p {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 300;
}
.product-detail {
  margin-top: 1rem;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.product-usp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-usp img {
  margin-top: 10px;
}
.usp-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.usp-text p {
  color: #fff;
}

.sci {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li {
  list-style: none;
}
.sci li a {
  text-decoration: none;
  /* color: #fff; */
}
.sci li a img {
  filter: invert(1);
  transform: scale(0.8);
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.trailer.active {
  visibility: visible;
  opacity: 1;
}
.trailer iframe {
  width: 900px;
  height: 600px;
  outline: none;
}
.trailer .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}

footer {
  width: 100%;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr);
  background-color: #0d7182;
}

footer .logo {
  max-width: 150px;
}
footer .address {
  color: #fff;
  max-width: 400px;
}
footer .address h4 {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
footer .address p {
  line-height: 1.6rem;
}
footer .address .separator {
  margin: 10px 0;
  border: 1px solid #fff;
}
